<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form  action="#" th:action="@{/agent/offer/create}" enctype="multipart/form-data" th:object="${offerDto}" method="post">
        <table>
            <tr><td>
                <input type="checkbox" name="category" value="cultural activities">cultural<br>
                <input type="checkbox" name="category" value="educational activities">educational<br>
                <input type="checkbox" name="category" value="musical activities">musical<br>
                <input type="checkbox" name="category" value="physical activities">physical<br>
                <input type="checkbox" name="category" value="nightlife and parties">nightlife and parties<br>
                <input type="checkbox" name="category" value="accomodation">accomodation<br>
                <input type="checkbox" name="category" value="culinar activities">culinar<br>
                <input type="checkbox" name="category" value="family activities">family<br>
                <input type="checkbox" name="category" value="group actitities">group<br>
                <input type="checkbox" name="category" value="couple activities">couple<br>
            </td></tr>

            <tr><td>Name:<input type="text" th:field="*{name}" /></td></tr>
            <tr><td>Price:<input type="text" th:field="*{price}" /></td>
            <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</p>
            <tr><td>Number offers:<input type="text" th:field="*{initialNo}" /></td></tr>
            <p th:if="${#fields.hasErrors('initialNo')}" th:errors="*{initialNo}">InitialNo Error</p>
            <tr><td>Location:<input type="text" th:field="*{location}" /></td></tr>
            <tr><td>Description:<textarea name="description" ></textarea></td></tr>
            <tr><td>Number of persons:<input type="text"  th:field="*{noPersons}"/></td></tr>
            <p th:if="${#fields.hasErrors('noPersons')}" th:errors="*{noPersons}">No persons Error</p>
            <tr><td>Min no for discount: <input type="text" th:field="*{minQuantity}" /></td></tr>
            <p th:if="${#fields.hasErrors('minQuantity')}" th:errors="*{minQuantity}">Min quantity Error</p>
            <tr><td>Discount per offer <input type="text" th:field="*{percentPerOffer}" /></td></tr>
            <p th:if="${#fields.hasErrors('percentPerOffer')}" th:errors="*{percentPerOffer}">Discount Error</p>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>


            <tr><td></td><td> <p><input type="submit" name="createBtn" value="Create offer" /></p></td></tr>
        </table>
    </form>
</div>


</body>
</html>
