<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Offers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<form th:action="@{/logout}" method="post">
    <input type="submit" name="logoutBtn" value="Log Out"/>
</form>

<br>
<a href="/customer/manageCategories">Manage my categories</a>
<br>
<br>
<a href="/customer/crazySearch">Make a crazy search</a>

<br>
<form th:action="@{'/customer/showOffers'}" method="post">
    <table border="2">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Categories</th>
            <th>Price</th>
            <th>In stock</th>
            <th>Initial no offers</th>
            <th>Location</th>
            <th>Description</th>
            <th>Image</th>
            <th>Min quant for discount</th>
            <th>Discount percentage per offer</th>
            <th>Reviews</th>
            <th>Convinced?</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offerDto : ${offerDtos}">
            <td th:text = "${offerDto.id}"></td>
            <td th:text="${offerDto.name}"></td>
            <td th:text="${offerDto.categories}"></td>
            <td th:text="${offerDto.price}"></td>
            <td th:text="${offerDto.inStock}"></td>
            <td th:text="${offerDto.initialNo}"></td>
            <td th:text="${offerDto.location}"></td>
            <td th:text="${offerDto.description}"></td>
            <td><img th:src="@{'/upload-dir/' + ${offerDto.image}}" style="width:304px; height:228px"/></td>>
            <td th:text="${offerDto.minQuantity}"></td>
            <td th:text="${offerDto.percentPerOffer}"></td>
            <td>
                <a th:href ="@{'/customer/offer/'+${offerDto.id}+'/reviews'}">See reviews</a>
            </td>
            <td>
                <a th:href ="@{'/customer/offer/'+${offerDto.id}+'/buy'}">Buy</a>
            </td>

        </tr>
        </tbody>
    </table>
</form>

