<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Reviews</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<h3><span th:text="${offerDto.name}" ></span></h3>

<a th:href ="@{'/customer/offer/'+${offerDto.id}+'/addReview'}">Add a review</a>
<br>
<br>
<a th:href ="@{'/customer/offer/'+${offerDto.id}+'/buy'}">Buy</a>
<br>
<br>
<a href="/customer/showOffers">Back to show offers page</a>
<br>
<br>

<table>
    <tr><td>Name:<input th:readonly="true" type="text" th:field="*{offerDto.name}" /></td></tr>
    <tr><td>Price:<input th:readonly="true" type="text" th:field="*{offerDto.price}" /></td></tr>
    <tr><td>Description:<input th:readonly="true" type="text" th:field="*{offerDto.description}" /></td></tr>
    <tr><td>Location:<input th:readonly="true" type="text" th:field="*{offerDto.location}" /></td></tr>
    <td><img th:src="@{'/upload-dir/' + ${offerDto.image}}" style="width:304px; height:228px"/></td>
    <tr><td>Number in stock:<input th:readonly="true" type="text" th:field="*{offerDto.inStock}" /></td></tr>
    <tr><td>Initial number:<input th:readonly="true" type="text" th:field="*{offerDto.initialNo}" /></td></tr>
    <tr><td>Number of persons:<input th:readonly="true" type="text"  th:field="*{offerDto.noPersons}"/></td></tr>
    <tr><td>Min no for discount: <input th:readonly="true" type="text" th:field="*{offerDto.minQuantity}" /></td></tr>
    <tr><td>Discount per offer <input th:readonly="true" type="text" th:field="*{offerDto.percentPerOffer}" /></td></tr>

</table>


<form th:action=="@{'/customer/offer/'+${offerDto.id}+'/reviews'}" method="post">
    <table border="2">
        <thead>
        <tr>
            <th>Username</th>
            <th>No stars</th>
            <th>Description</th>
            <th>Date</th>
            <th>More</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reviewDto : ${reviewDtos}">
            <td th:text="${reviewDto.customerUsername}"></td>
            <td th:text="${reviewDto.noStars}"></td>
            <td th:text="${reviewDto.description}"></td>
            <td th:text="${reviewDto.date}"></td>
            <td>
                <div th:if="${reviewDto.customerUsername.equals(nowLoggedIn)}">
                    <div> <a th:href ="@{'/customer/offer/'+${offerDto.id}+'/review/'+${reviewDto.id}+'/edit'}">Edit review</a> </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/customer/showOffers">Back to all offers</a>
</form>

