<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Offers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<form th:action="@{/logout}" method="post">
    <input type="submit" name="logoutBtn" value="Log Out"/>
</form>


<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>


<form th:action="@{'/customer/crazySearch'}" method="post">
    Show from category:
    <br>
    <input type="checkbox" name="category" value="cultural activities">cultural<br>
    <input type="checkbox" name="category" value="educational activities">educational<br>
    <input type="checkbox" name="category" value="musical activities">musical<br>
    <input type="checkbox" name="category" value="physical activities">physical<br>
    <input type="checkbox" name="category" value="nightlife and parties">nightlife and parties<br>
    <input type="checkbox" name="category" value="accomodation">accomodation<br>
    <input type="checkbox" name="category" value="culinar activities">culinar<br>
    <input type="checkbox" name="category" value="family activities">family<br>
    <input type="checkbox" name="category" value="group actitities">group<br>
    <input type="checkbox" name="category" value="couple activities">couple<br>
    <input type="checkbox" name="category" value="ALL" th:checked="true">ALL<br>

    Order by:
    <select name="selOrdering">
        <option th:each="ordering : ${orderings}" th:text="${ordering}"></option> </select>

    <p> Keyword: <input  type="text" th:field="*{searchDto.keyword}"/> </p>
    <p> Min price: <input  type="text" th:field="*{searchDto.minPrice}"/> Max price:  <input  type="text" th:field="*{searchDto.maxPrice}"/> </p>
    <p> Actual no of persons: <input  type="text" th:field="*{searchDto.noPersons}"/> </p>
    <p> Max discount quantity supported: <input  type="text" th:field="*{searchDto.discountQuantity}"/> </p>
    <p> Min discount percentage expected: <input  type="text" th:field="*{searchDto.discountPercentage}"/> </p>

    <p><input type="submit" name="searchBtn" value="Search" /></p>
</form>

<br>
<form th:action="@{'/customer/crazySearch'}" method="post">
    <table border="2">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Categories</th>
            <th>Price</th>
            <th>In stock</th>
            <th>Initial no offers</th>
            <th>Location</th>
            <th>No persons</th>
            <th>Description</th>
            <th>Image</th>
            <th>Min quant for discount</th>
            <th>Discount percentage per offer</th>
            <th>Reviews</th>
            <th>Convinced?</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offerDto : ${offerDtos}">
            <td th:text = "${offerDto.id}"></td>
            <td th:text="${offerDto.name}"></td>
            <td th:text="${offerDto.categories}"></td>
            <td th:text="${offerDto.price}"></td>
            <td th:text="${offerDto.inStock}"></td>
            <td th:text="${offerDto.initialNo}"></td>
            <td th:text="${offerDto.location}"></td>
            <td th:text="${offerDto.noPersons}"></td>
            <td th:text="${offerDto.description}"></td>
            <td><img th:src="@{'/upload-dir/' + ${offerDto.image}}" style="width:304px; height:228px"/></td>>
            <td th:text="${offerDto.minQuantity}"></td>
            <td th:text="${offerDto.percentPerOffer}"></td>
            <td>
                <a th:href ="@{'/customer/offer/'+${offerDto.id}+'/reviews'}">See reviews</a>
            </td>
            <td>
                <a th:href ="@{'/customer/offer/'+${offerDto.id}+'/buy'}">Buy</a>
            </td>

        </tr>
        </tbody>
    </table>

    <a href="/customer/showOffers">Back to all offers</a>
</form>

