<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Review</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <table>
        <tr><td>Name:<input th:readonly="true" type="text" th:field="*{offerDto.name}" /></td></tr>
        <tr><td>Price:<input th:readonly="true" type="text" th:field="*{offerDto.price}" /></td></tr>
        <tr><td>Location:<input th:readonly="true" type="text" th:field="*{offerDto.location}" /></td></tr>
        <tr><td>Offer Description:<input th:readonly="true" type="text" th:field="*{offerDto.description}"/></td></tr>
        <tr><td>Number of persons:<input th:readonly="true" type="text"  th:field="*{offerDto.noPersons}"/></td></tr>
        <tr><td>Min no for discount: <input th:readonly="true" type="text" th:field="*{offerDto.minQuantity}" /></td></tr>
        <tr><td>Discount per offer <input th:readonly="true" type="text" th:field="*{offerDto.percentPerOffer}" /></td></tr>
        <td><img th:src="@{'/upload-dir/' + ${offerDto.image}}" style="width:304px; height:228px"/></td>
    </table>
    <br>
    <br>


    <form  action="#" th:action="@{'/customer/offer/'+${offerDto.id}+'/review/'+${reviewDto.id}+'/edit'}" th:object="${reviewDto}" method="post">
        <p> Please give your honest opinion and thank you for your time.</p>
        <p> Id: <input  th:readonly="true" type="text" th:field="*{id}"/> </p>
        <p> No stars: <input  type="text" th:field="*{noStars}"/> </p>
        <p th:if="${#fields.hasErrors('noStars')}" th:errors="*{noStars}">noStars Error</p>
        <p> Description: <input  type="text" th:field="*{description}"/> </p>
        <br>
        <p><input type="submit" name="updateBtn" value="Update review" /></p>
        <p><input type="submit" name="deleteBtn" value="Delete review" /></p>
    </form>
</div>


<br>
<a th:href ="@{'/customer/offer/'+${offerDto.id}+'/reviews'}">Back to offer review page</a>

</body>
</html>
