<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>


<div>
    <table>
        <tr><td>Name:<input th:readonly="true" type="text" th:field="*{offerDto.name}" /></td></tr>
        <tr><td>Price:<input th:readonly="true" type="text" th:field="*{offerDto.price}" /></td></tr>
        <tr><td>Number in stock:<input th:readonly="true" type="text" th:field="*{offerDto.inStock}" /></td></tr>
        <tr><td>Number of persons:<input th:readonly="true" type="text"  th:field="*{offerDto.noPersons}"/></td></tr>
        <tr><td>Min no for discount: <input th:readonly="true" type="text" th:field="*{offerDto.minQuantity}" /></td></tr>
        <tr><td>Discount per offer <input th:readonly="true" type="text" th:field="*{offerDto.percentPerOffer}" /></td></tr>

    </table>
    <br>
    <br>


    <form  action="#" th:action="@{'/customer/offer/'+${offerDto.id}+'/buy'}"  th:object="${saleDto}" method="post">
        <p> Quantity: <input  type="text" th:field="*{quantity}"/> </p>
        <p th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Quantity Error</p>
        <button name="buyBtn" onclick="return confirm ('Are you sure you want to place this order?')">Place order</button>
    </form>
</div>

<br>
<a href="/customer/showOffers">Back to show offers page</a>

</body>
</html>
